/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: black;
  --secondary-color: #272142;
  --tertiary-color: #ae92b3;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

.hero h1 {
  font-family: var(--primary-font);
  font-size: 86px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
}

.hero h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: normal;
}

h4 {
  font-size: 40px;
  font-family: var(--primary-font);
}
.hero {
  background-color: #fff6de;
  padding: 160px 10px;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: var(--tertiary-color);
  font-family: var(--secondary-font);
  border: none;
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}
.btn-primary:hover {
  background-color: var(--secondary-color);
}

#point-down-break {
  margin: 80px 10px;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 18px;
}

.container h2 {
  font-family: var(--primary-font);
  font-size: 50px;
}

.container p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 30px;
}

.btn-secondary {
  color: var(--tertiary-color);
  background-color: white;
  font-family: var(--secondary-font);
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 27px;
}
.btn-secondary:hover {
  background-color: var(--tertiary-color);
  color: white;
}

.img-thumbnail {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 560px;
  height: 350px;
  object-fit: scale-down;
  background-color: #fff6de;
}

.img-description {
  padding: 36px;
}

.content-container {
  padding: 80px 10px;
}

.content {
  padding: 30px;
}

.profile-pic {
  max-width: 400px;
  border-radius: 20px;
}

.content h1 {
  font-size: 58px;
  font-weight: 700;
  font-family: var(--primary-font);
}

.content h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.content h3 {
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 700;
}

.content-container p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--secondary-font);
  line-height: 1.5;
}

.logo {
  max-height: 60px;
}
.logo-small {
  max-height: 40px;
  padding-top: 10px;
}

nav {
  padding: 12px 0px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 55px;
  padding: 12px;
  font-size: 16px;
  font-family: var(--secondary-font);
}

nav a {
  text-decoration: none;
  color: #272142b2;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--tertiary-color);
}

footer {
  margin: 70px;
}

footer .inquiry-box {
  background-color: #fff6de;
  padding: 30px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}

footer .inquiry-box p {
  margin: 0;
}

footer .inquiry-box a {
  font-size: 18px;
  padding: 18px 30px;
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  margin-bottom: 20px;
}

footer .email-link:hover {
  color: var(--tertiary-color);
}

footer .social-links i {
  font-size: 28px;
  margin: 10px 26px;
  color: var(--secondary-color);
  padding: 10px 12px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  transition: all 100ms ease-in-out;
}

footer .social-links i:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  nav li {
    font-size: 14px;
  }

  .hero {
    padding: 80px 10px;
  }
  .hero h1 {
    font-size: 48px;
  }

  #point-down-break {
    margin-top: 40px;
  }

  .hero h2 {
    font-size: 26px;
  }
  .hero h3 {
    font-size: 16px;
  }
  .btn-primary {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .container h1 {
    font-size: 48px;
  }
  .container h2 {
    font-size: 42px;
  }
  .img-description {
    padding: 0px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  footer .social-links i {
    font-size: 20px;
    margin: 10px 26px;
    color: var(--secondary-color);
    padding: 10px 12px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
    transition: all 100ms ease-in-out;
  }
}
