/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: black;
  --secondary-color: #272142;
  --tertiary-color: #6c63ff;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

h1 {
  font-family: var(--primary-font);
  font-size: 86px;
  font-weight: bold;
}

h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: normal;
}

.hero {
  background-color: #f9f7fe;
  padding: 275px 10px;
  text-align: center;
}

.hero a {
  color: white;
  background-color: var(--tertiary-color);
  font-family: var(--secondary-font);
  border: none;
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}
