/*
font-family: 'Julius Sans One', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Space Mono', monospace;*/

:root {
  --primary-color: #ffeccb;
  --secondary-color: #ffbd59;
  --tertiary-color: #b08d60;
  --quaternary-color: #005248;
  --light-background: #fff8eb;
  --primary-font: "Mulish", sans-serif;
  --secondary-font: "Space Mono", monospace;
}

::selection {
  background-color: var(--secondary-color);
}

body {
  background-color: var(--light-background);
}

.logo {
  max-height: 60px;
}
.logo-small {
  max-height: 40px;
  padding-top: 10px;
}

.navbar {
  padding: 20px 240px;
  background: var(--light-background);
}

.navbar li {
  display: inline;
  list-style: none;
  line-height: 55px;
  font-size: 18px;
  font-family: var(--secondary-font);
}

.navbar a {
  text-decoration: none;
  color: var(--quaternary-color);
  transition: all 100ms ease-in-out;
}

.navbar li.active a,
.navbar a:hover {
  color: var(--quaternary-color);
}

.hero {
  padding: 160px 10px 200px 10px;
  text-align: center;
  margin-bottom: 80px;
  background: var(--light-background);
}

.hero h1 {
  font-family: var(--primary-font);
  font-size: 86px;
  font-weight: 1000;
  color: var(--quaternary-color);
}

.hero h2 {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
  color: var(--quaternary-color);
}

.hero h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: normal;
  color: var(--tertiary-color);
}

.hero h4 {
  font-size: 40px;
  font-family: var(--primary-font);
}

.btn-primary {
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  font-family: var(--secondary-font);
  border: none;
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}
.btn-primary:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
}

.my-projects {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
  color: var(--quaternary-color);
  margin: 100px;
}

.gallery h2 {
  font-family: var(--primary-font);
  font-size: 50px;
  font-weight: 500;
  color: var(--quaternary-color);
}

.gallery p {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 30px;
  color: var(--tertiary-color);
}

.btn-secondary {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  font-family: var(--secondary-font);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 27px;
}
.btn-secondary:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
}

.img-thumbnail {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 560px;
  height: 350px;
  object-fit: cover;
  background-color: #fff6de;
}

.img-description {
  padding: 36px;
}

.content-container {
  padding: 80px 10px;
}

.content {
  padding: 30px;
}

img {
  max-width: 100%;
  display: block;
}

.person {
  position: relative;
  max-width: 30rem;
  margin-inline: auto;
  padding-top: 20px;
}

.person-container {
  aspect-ratio: 1/1.2;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transform: scale(0.6);
  transition: transform 200ms ease-in-out;
}

.person-container:hover {
  transform: scale(0.7);
}

.circle {
  position: absolute;
  inset: auto 0 0;
  width: 100%;
  margin-inline: auto;
}

.profile-pic {
  max-width: 95%;
  position: relative;
  z-index: 2;
}

.hide {
  position: absolute;
  display: none;
  left: 30px;
  bottom: 290px;
  transform: scale(0.5) rotate(20deg);

  z-index: 4;
}

.person-container:hover + .hide {
  display: block;
  transition: display 1s ease-in-out;
}

.content h1 {
  font-size: 52px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--quaternary-color);
}

.content h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: var(--quaternary-color);
}

.content h3 {
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: 700;
}

.content p {
  color: var(--tertiary-color);
}

.content a {
  text-decoration: none;
  color: var(--quaternary-color);
}

.content-container p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--secondary-font);
  line-height: 1.5;
}

.work-content h3 {
  font-family: var(--primary-font);
  color: var(--quaternary-color);
  font-weight: 500;
}

.work-content p {
  color: var(--tertiary-color);
}

.work-content i {
  font-size: 28px;
}

.work-project-link {
  text-decoration: none;
  color: var(--quaternary-color);
}

.work-project-link:hover {
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

.contact-label {
  background-color: var(--secondary-color);
}

footer {
  margin: 140px 70px 70px 70px;
}

footer .inquiry-box {
  background-color: var(--primary-color);
  padding: 30px 40px;
  margin-bottom: 60px;
  margin-top: 120px;
  border-radius: 10px;
}

footer .inquiry-box h4 {
  color: var(--quaternary-color);
  font-family: var(--primary-font);
}

footer .inquiry-box p {
  margin: 0;
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}

footer .inquiry-box a {
  font-size: 18px;
  padding: 18px 30px;
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

footer .email-link {
  text-decoration: none;
  color: var(--quaternary-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  margin-bottom: 20px;
}

footer .email-link:hover {
  color: var(--tertiary-color);
}

footer .social-links i {
  font-size: 28px;
  margin: 10px 26px;
  color: var(--quaternary-color);
  padding: 10px 12px;
  border-radius: 50%;
  border: 1px solid var(--quaternary-color);
  background-color: var(--light-background);
  transition: all 100ms ease-in-out;
}

footer .social-links i:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  cursor: pointer;
}

footer p {
  font-family: var(--secondary-font);
  color: var(--tertiary-color);
}

footer p a {
  text-decoration: none;
  color: var(--quaternary-color);
}

footer a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 30px;
    text-align: right;
  }

  .navbar li {
    font-size: 14px;
  }

  li .nav-item {
    padding: 0px;
  }
  .nav-link {
    padding: 0px;
  }

  .navbar li:hover {
    color: var(--quaternary-color);
  }

  .hero {
    padding: 80px 10px 40px 10px;
  }
  .hero h1,
  .contact-content h1 {
    font-size: 40px;
  }

  .hero h2,
  .gallery h2 {
    font-size: 26px;
  }

  .hero h3 {
    font-size: 16px;
  }
  .btn-primary {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .gallery .col {
    margin-bottom: 20px;
  }

  .my-projects {
    margin: 50px;
    font-size: 26px;
  }

  .img-description {
    padding: 0px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }

  .person {
    display: none;
  }

  .about-content h1 {
    font-size: 28px;
  }

  .about-content h2 {
    font-size: 18px;
  }

  footer .email-link {
    font-size: 16px;
  }

  footer p {
    font-size: 10px;
  }

  footer .social-links i {
    font-size: 14px;
    margin: 10px 10px;
    color: var(--quaternary-color);
    padding: 10px 12px;
    border-radius: 50%;
    background-color: var(--light-background);
    transition: all 100ms ease-in-out;
  }

  .about-content footer p,
  .work-content footer p,
  .contact-content footer p {
    font-size: 12px;
  }
}
